.add-drop{
  .cart-add,.cart-minus{
    width: 0.22rem;
    height: 0.22rem;
  }
  .cart-number{
    text-align: center;
    color: rgba(0,0,0,.87);
    vertical-align: middle;
    font-size: 0.14rem;
    width: 0.35rem;
  }
}